{% extends 'gui/base.html' %}

{% block content %}
    <h1>Chatbot GUI</h1>
    <p></p>
    <div>
        <form method="POST">
            <legend class="border-bottom mb-4">Talk to the INMOOV</legend>
            {% csrf_token %}
            <input type="text" name="input">
            <div class="form-group">
                <button class="btn btn-outline-info" type="'submit" name="Chat">Chat</button>
                <button class="btn btn-outline-info" type="'submit" name="Reset">Reset</button>
            </div>
        </form>
        {% for input in inputs %}
            <p>{{ input }}</p>
        {% endfor %}
    </div>
{% endblock content %}